{{>header}}

{{{opcionesMenuPorRol usuario contrasena operacion tipo}}}
<br>
<div class="container">
    <form action="/resultadoCreacionCurso" method="post">
        <div class="form-row">
            <div class="form-group col-md-2"></div>

            <div class="form-group col-md-2">
              <label for="inputEmail4">id</label>
              <input type="number" class="form-control" name="idCurso" required placeholder="">
            </div>

            <div class="form-group col-md-1"></div>

            <div class="form-group col-md-2">
              <label for="inputPassword4">Nombre</label>
              <input type="text" class="form-control" name="nombre" required placeholder="">
            </div>

            <div class="form-group col-md-1"></div>

            <div class="form-group col-md-2">
                <label for="sel1">Modalidad</label>
                <select class="form-control" required name="listaModalidad">
                    <option value="-">-</option>
                    <option value="Presencial">Presencial</option>
                    <option value="Virtual">Virtual</option>
                </select>
            </div>

            <div class="form-group col-md-2"></div>
            <br>       
        </div>

        <div class="form-row">
          <div class="form-group col-md-2"></div>

          <div class="form-group col-md-2">
            <label for="inputEmail4">Valor</label>
            <input type="number" class="form-control" name="valor" required placeholder="">
          </div>

          <div class="form-group col-md-1"></div>

          <div class="form-group col-md-2">
            <label for="inputPassword4">Intensidad</label>
            <input type="number" class="form-control" name="intesidad" >
          </div>

          <div class="form-group col-md-5"></div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-2"></div>

            <div class="form-group col-md-8">
              <label for="inputPassword4">Descripcion</label>
              <textarea class="form-control" name="descripcion" required rows="3"></textarea>
            </div> 

            <div class="form-group col-md-2"></div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-5"></div>
            <div class="form-group col-md-1">
                <button class="btn btn-primary">Enviar</button>
            </div>      
        </div>

    </form>
</div>

{{>footer}}