{{>header}}



<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <p>Bienvenido a la pagina de Educación Continua</p>
            <br>
            <img src="img/aula.jpg" class="img-fluid" class="img-thumbnail" style="border-style: solid">
        </div>
    </div>
</div>

{{>footer}}