{{>header}}
{{{opcionesMenuPorRol usuario contrasena operacion tipo}}}

<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <p>Pagina Educación Continua {{mensaje}}</p>
            <img src="img/aula.jpg" class="img-fluid" class="img-thumbnail" style="border-style: solid">
        </div>
    </div>
</div>

{{>footer}}