<html>
    <head>
        <title>Educación Continua</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">       
    </head>
    <body>
            <p>Bienvenido a la pagina de Educación Continua</p>
            <footer>
                <p>Todos los derechos reservados</p>
            </footer>
        </body>
    </body>
