{{>header}}

{{{opcionesMenuPorRol usuario contrasena operacion tipo}}}
<br>
<div class="container">
    <form action="/resultadoInscripcion" method="post">
        <div class="form-group">

            <div class="form-group col-md-2"></div>

            <div class="form-group col-md-1"></div>

            {{{listadoCursos}}}

            <div class="form-group col-md-1"></div>

            <div class="form-group col-md-1">
                <button class="btn btn-primary" name="enviar">Enviar</button>
            </div>

            <div class="form-group col-md-2"></div>

        </div>
    </form>
</div>

{{>footer}}