{{>header}}
{{{opcionesMenuPorRol usuario contrasena operacion tipo}}}
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {{{listarCursos listaCursos}}}
        </div>
    </div>
</div>

{{>footer}}