{{>header}}

<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <p>Resultado Operacion</p>
            <p>{{inscibriUsuarioEnCurso idUsuario idCurso}}</p>
        </div>
    </div>
</div>

{{>footer}}