{{>header}}

{{{opcionesMenuPorRol usuario contrasena operacion tipo}}}

<div class="container">
    <div class="alert" role="alert">{{crearCurso informacionCurso}}</div>
    <div class="parrafo"><p>Por favor verifique si su curso se creò correctamente en la opcion Ver Cursos, tenga en cuenta que el ID debe ser unico</p></div>
</div>

{{>footer}}