{{>header}}

{{{opcionesMenuPorRol usuario contrasena operacion}}}

<div class="container">
    <div class="alert alert-success" role="alert">{{inscibriUsuarioEnCurso idUsuario idCurso}}</div>
</div>

{{>footer}}